In [14]:
import pandas as pd

In [ ]:
def mergeSalesAndPurchase(salesDF:pd.DataFrame=None,purchaseDF:pd.DataFrame=None)-> pd.DataFrame:
    
    return

def checkNullorInvalid(var,type):
    if not var or type(var) != type : return True
    return False

def mergeDuplicates(df:pd.DataFrame=None,subset:str=None)->pd.DataFrame:
    '''
    Merges duplicate rows from a Dataframe.
    df: Dataframe on which to perform the merge.
    subset: The column name on which to perform the merge.
    '''
    if checkNullorInvalid(df,pd.DataFrame): raise TypeError('df variable supplied must be a Dataframe object.')
    if checkNullorInvalid(subset,str): raise TypeError('subset variable supplied must be a string.')

    if df.duplicated(subset=subset).sum() == 0: return df

    # Parameter keep indicates which copy to not be marked as duplicate
    duplicate_first_idx = df.duplicated(subset='Item',keep='last')
    duplicate_last_idx = df.duplicated(subset='Item',keep='first')

In [15]:
salesApril = pd.read_csv('./CSV Files/SALES APRIL 23.csv')
purchaseApril = pd.read_csv('./CSV Files/PURCHASE APRIL 23.csv')

# salesApril.drop_duplicates(inplace=True)
# purchaseApril.drop_duplicates(inplace=True)

In [16]:
salesApril.duplicated(subset='Item').sum()

6

In [17]:
duplicate_first_idx = salesApril.duplicated(subset='Item',keep='last')
duplicate_last_idx = salesApril.duplicated(subset='Item',keep='first')

In [18]:
salesApril[duplicate_first_idx].index.values

array([ 41, 167, 246, 297, 341, 577], dtype=int64)

In [19]:
salesApril.at[41,'Amount']

100.0

In [20]:
duplicate_last = salesApril[duplicate_last_idx].set_index(keys='Item')
for idx in salesApril[duplicate_first_idx].index.values:
    item_name = salesApril.at[idx,'Item']

    salesApril.loc[idx,'Quantity'] += duplicate_last.loc[item_name,'Quantity']
    salesApril.loc[idx,'Amount'] += duplicate_last.loc[item_name,'Amount']

In [21]:
salesApril.at[41,'Amount']
salesApril.drop_duplicates(keep='first',subset='Item',inplace=True)
salesApril.duplicated(subset='Item').sum()

0

In [22]:
salesApril[duplicate_last_idx]

C:\Users\vivek\AppData\Local\Temp\ipykernel_1860\548403635.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  salesApril[duplicate_last_idx]

Empty DataFrame
Columns: [Sl, Item, Quantity, Amount]
Index: []

In [23]:
salesApril.shape

(783, 4)

In [24]:
merged = salesApril.merge(purchaseApril,on='Item',how='outer',suffixes=('_Sales','_Purchases'))
merged.drop('Sl_Sales',inplace=True,axis=1)
merged.drop('Sl_Purchases',inplace=True,axis=1)
merged.fillna(0,inplace=True)
merged.head()

,Item,Quantity_Sales,Amount_Sales,Quantity_Purchases,Amount_Purchases
0,916 COCONUT OIL 500ML,1.0,90.0,0,0
1,ACT SANDROP PB CRUNCHY 100G,3.0,150.0,0,0
2,ACT SUNDROP PEANUT BUTTER CREAME,1.0,250.0,1,220.15
3,ACT SUNDROP PEANUT BUTTER CREAM,1.0,175.0,1,160.53
4,ALPH LOLIPOP,47.0,245.0,0,0

In [25]:
merged.shape

(1066, 5)

In [26]:
merged.to_csv('./test/AprilMerged.csv',index=False)

In [27]:
merged_april = pd.read_csv('./test/AprilMerged.csv')

In [28]:
merged_april.head()

,Item,Quantity_Sales,Amount_Sales,Quantity_Purchases,Amount_Purchases
0,916 COCONUT OIL 500ML,1.0,90.0,0,0
1,ACT SANDROP PB CRUNCHY 100G,3.0,150.0,0,0
2,ACT SUNDROP PEANUT BUTTER CREAME,1.0,250.0,1,220.15
3,ACT SUNDROP PEANUT BUTTER CREAM,1.0,175.0,1,160.53
4,ALPH LOLIPOP,47.0,245.0,0,0

In [31]:
merged_april.shape

(1066, 5)

In [32]:
merged_april.isna().sum()

Item                  0
Quantity_Sales        0
Amount_Sales          0
Quantity_Purchases    0
Amount_Purchases      0
dtype: int64