In [2]:
import pandas as pd

In [3]:
salesApril = pd.read_csv('./CSV Files/SALES APRIL 23.csv')
purchaseApril = pd.read_csv('./CSV Files/PURCHASE APRIL 23.csv')

salesApril.drop_duplicates(inplace=True)
purchaseApril.drop_duplicates(inplace=True)

In [4]:
salesApril.shape

(789, 4)

In [5]:
merged = salesApril.merge(purchaseApril,on='Item',how='left',suffixes=('_Sales','_Purchases'))
merged.drop('Sl_Sales',inplace=True,axis=1)
merged.drop('Sl_Purchases',inplace=True,axis=1)
merged.fillna(0,inplace=True)
merged.head()

,Item,Quantity_Sales,Amount_Sales,Quantity_Purchases,Amount_Purchases
0,916 COCONUT OIL 500ML,1.0,90.0,0,0
1,ACT SANDROP PB CRUNCHY 100G,3.0,150.0,0,0
2,ACT SUNDROP PEANUT BUTTER CREAME,1.0,250.0,1,220.15
3,ACT SUNDROP PEANUT BUTTER CREAM,1.0,175.0,1,160.53
4,ALPH LOLIPOP,47.0,245.0,0,0

In [6]:
merged.shape

(789, 5)

In [7]:
merged.to_csv('./test/AprilMerged.csv',index=False)