# BDM Project

## Imports and loading the datasets

In [50]:
import pandas as pd
from dataclasses import dataclass,field
from typing import ClassVar

In [51]:
# To complete later proper implementation

@dataclass
class Dataset():
    '''
    Dataclass used in finding distinct foods.
    :param pathtocsv dataset: The path to csv file.  
    '''

    name: str = field(init=False)
    df: pd.DataFrame = field(init=False)
    pathtocsv: str
    distinctFoods: dict = field(init=False)

    def __init__(self,pathtocsv:str):
        self.name = pathtocsv.split('/')[-1]
        self.df = pd.read_csv(pathtocsv).dropna()
        self.distinctFoods = dict()
        DatasetBase.datasets.append(self)

        for idx in range(len(self.df)):
            row = self.df.iloc[idx]
            currentFirstName = row['Item'].split()[0]
            if currentFirstName not in self.distinctFoods.keys(): 
                self.distinctFoods[currentFirstName] = []
            self.distinctFoods[currentFirstName].append(idx)


    def __str__(self) -> str:
        return 'Dataset<{}>'.format(self.name)
    
    def __repr__(self) -> str:
        return 'Dataset<{}>'.format(self.name)

    def _repr_html_(self):
        return self.df._repr_html_()

    def head(self,n):
        return self.df.head(n)

  

class DatasetBase:
    datasets: list[Dataset] = []

In [52]:

salesApril = Dataset('./CSV Files/SALES APRIL 23.csv')
salesMay = Dataset('./CSV Files/SALES MAY 23.csv')
purchaseApril = Dataset('./CSV Files/PURCHASE APRIL 23.csv')
purchaseMay = Dataset('./CSV Files/PURCHASE MAY 23.csv')

In [53]:
DatasetBase.datasets

[Dataset<SALES APRIL 23.csv>,
 Dataset<SALES MAY 23.csv>,
 Dataset<PURCHASE APRIL 23.csv>,
 Dataset<PURCHASE MAY 23.csv>]

In [54]:
test = DatasetBase.datasets[0].distinctFoods['ACT']
DatasetBase.datasets[0].df.iloc[test]

      Sl                              Item  Quantity  Amount
1      2       ACT SANDROP PB CRUNCHY 100G       3.0   150.0
2      3  ACT SUNDROP PEANUT BUTTER CREAME       1.0   250.0
3      4   ACT SUNDROP PEANUT BUTTER CREAM       1.0   175.0
336  337          ACT II GOLDEN SIZZLE 30G       3.0    30.0
552  553                 ACT TOMATO CHILLI       1.0    25.0
553  554                        ACT BUTTER       3.0    75.0

In [55]:
only_one_item = []
ooiidx = []

for key,value in salesApril.distinctFoods.items():
    if len(value)==1:
        only_one_item.append((key,value)) 
        ooiidx.append(value[0])

In [56]:
salesApril.df.iloc[ooiidx].to_csv('salesAprilOnlyOne.csv',index=False)

In [57]:
foo = pd.read_csv('./salesAprilOnlyOne_onlyselfproduced.csv')

In [58]:
bar = tuple(foo['Item'].to_list())

In [ ]:
set(bar).difference(set(salesMay.df['Item'].to_list()))

In [85]:
def difference(list1,list2):
    already_seen = []
    not_in = []
    l = []
    if len(list2) > len(list1): list1,list2 = list2,list1
    for item in list1:
        if item not in list2: not_in.append(item)
        elif item in list2 and item not in already_seen: already_seen.append(item)
        else: l.append(item)
    return dict(No=len(l),DuplicateItems=l,DifferentItems=not_in)

In [83]:
def test():
    april = salesApril.df.copy(deep=True)
    april = april.drop_duplicates(subset='Item')
    april = april.set_index('Item')
    return april.filter(items=bar,axis=0)

In [92]:
def getDuplicateAndDifference(sales:Dataset):
    sales = sales.df.copy(deep=True)
    li = sales['Item']
    se = set(li)
    return difference(li,se)

getDuplicateAndDifference(purchaseMay)
# test()

{'No': 0, 'DuplicateItems': [], 'DifferentItems': []}