# BDM Project

## Imports and loading the datasets

In [16]:
import pandas as pd
from dataclasses import dataclass,field
from typing import ClassVar

In [60]:
# To complete later proper implementation

@dataclass
class Dataset():
    '''
    Dataclass used in finding distinct foods.
    :param pathtocsv dataset: The path to csv file.  
    '''

    name: str = field(init=False)
    df: pd.DataFrame = field(init=False)
    pathtocsv: str
    distinctFoods: dict = field(init=False)

    def __init__(self,pathtocsv:str):
        self.name = pathtocsv.split('/')[-1]
        self.df = pd.read_csv(pathtocsv).dropna()
        self.distinctFoods = dict()
        DatasetBase.datasets.append(self)

        for idx in range(len(self.df)):
            row = self.df.iloc[idx]
            currentFirstName = row['Item'].split()[0]
            if currentFirstName not in self.distinctFoods.keys(): 
                self.distinctFoods[currentFirstName] = []
            self.distinctFoods[currentFirstName].append(idx)


    def __str__(self) -> str:
        return 'Dataset<{}>'.format(self.name)
    
    def __repr__(self) -> str:
        return 'Dataset<{}>'.format(self.name)
    

class DatasetBase:
    datasets: list[Dataset] = []

In [61]:

salesApril = Dataset('./CSV Files/SALES APRIL 23.csv')
salesMay = Dataset('./CSV Files/SALES MAY 23.csv')
purchaseApril = Dataset('./CSV Files/PURCHASE APRIL 23.csv')
purchaseMay = Dataset('./CSV Files/PURCHASE MAY 23.csv')

In [62]:
DatasetBase.datasets

[Dataset<SALES APRIL 23.csv>,
 Dataset<SALES MAY 23.csv>,
 Dataset<PURCHASE APRIL 23.csv>,
 Dataset<PURCHASE MAY 23.csv>]

In [63]:
test = DatasetBase.datasets[0].distinctFoods['ACT']
DatasetBase.datasets[0].df.iloc[test]

      Sl                              Item  Quantity  Amount
1      2       ACT SANDROP PB CRUNCHY 100G       3.0   150.0
2      3  ACT SUNDROP PEANUT BUTTER CREAME       1.0   250.0
3      4   ACT SUNDROP PEANUT BUTTER CREAM       1.0   175.0
336  337          ACT II GOLDEN SIZZLE 30G       3.0    30.0
552  553                 ACT TOMATO CHILLI       1.0    25.0
553  554                        ACT BUTTER       3.0    75.0

In [64]:
only_one_item = []

for key,value in salesApril.distinctFoods.items():
    if len(value)==1:
        only_one_item.append((key,value))

In [65]:
only_one_item

[('916', [0]),
 ('ALPH', [4]),
 ('APPLE', [16]),
 ('BADHAM', [24]),
 ('BASIL', [27]),
 ('BAT', [28]),
 ('BLACK', [29]),
 ('BN', [30]),
 ('BONDA', [31]),
 ('BOURNVITA', [34]),
 ('BREAD', [36]),
 ('BURGER', [49]),
 ('BUTTERSCOTCH', [53]),
 ('CANDLE', [75]),
 ('CARDOMAM', [77]),
 ('CARROT&', [80]),
 ('CASHEW', [81]),
 ('CENTRE', [82]),
 ('CHERI', [83]),
 ('CHICKEN', [84]),
 ('CHILLY', [85]),
 ('CHOCOLATE', [86]),
 ('CHURUTU', [87]),
 ('COCONET', [88]),
 ('COFFEE', [91]),
 ('COLD', [92]),
 ('CONEFETTI', [93]),
 ('CORNFLAKES', [94]),
 ('CUT', [97]),
 ('CUTLET', [98]),
 ('DATES', [99]),
 ('GOODLIFE', [109]),
 ('GRAMBU', [110]),
 ('GRAPE', [111]),
 ('JEERAGAM', [126]),
 ('JILEBI', [127]),
 ('JOLY', [128]),
 ('KALKANDOM', [129]),
 ('KARUVAPATTA', [130]),
 ('KIDILAN', [142]),
 ('KISNA', [143]),
 ('KISSMISS', [144]),
 ('KOPICO', [160]),
 ('LADDU', [164]),
 ('LILLY', [178]),
 ('MACRONS', [181]),
 ('MEAT', [208]),
 ('MENTOS', [209]),
 ('MERICREAM', [213]),
 ('MILKMAID', [218]),
 ('MILKYBAR', [223]),
 ('MIXED', [227]),
 ('MIXTURE', [228]),
 ('MOJOIES', [229]),
 ('MOMS', [230]),
 ('MUESLI', [231]),
 ('NARANJA', [236]),
 ('NEYYAPPAM', [237]),
 ('ORBIT', [242]),
 ('OREO', [243]),
 ('PALAZHY', [247]),
 ('PAPPADAM', [251]),
 ('PARIPPU', [252]),
 ('PARTY', [255]),
 ('PEASTARY', [256]),
 ('PINEAPPLE', [257]),
 ('PISTA', [258]),
 ('PP', [265]),
 ('PUFS', [266]),
 ('PUNCHIRI', [267]),
 ('ROASTED', [272]),
 ('ROUND', [273]),
 ('ROYAL', [274]),
 ('SAMOSA', [278]),
 ('SANTHIGITI', [279]),
 ('SHARJAH', [281]),
 ('SIPUP', [282]),
 ('SLICE', [283]),
 ('SPANISH', [287]),
 ('SRA', [289]),
 ('SUGAR', [291]),
 ('THAKKOLAM', [307]),
 ('TIC', [308]),
 ('TISSUE', [309]),
 ('TOMATO', [310]),
 ('TOO', [311]),
 ('ULLIVADA', [317]),
 ('UNCLE', [318]),
 ('UNNIMADURAM', [327]),
 ('UNNIYAPPAM', [328]),
 ('UZHUNNUVADA', [329]),
 ('VADA', [330]),
 ('VANILLA', [331]),
 ('VATTAYAPPAM', [332]),
 ('PUTHUMAS', [338]),
 ('BOUNTY', [339]),
 ('KK', [343]),
 ('AMERICAN', [344]),
 ('PRAN', [373]),
 ('POLO', [380]),
 ('BRITAANNIA', [433]),
 ('HERSHEYS', [464]),
 ('LOLLIPUP', [465]),
 ('GEMS', [474]),
 ('CORN', [547]),
 ('ACT-II-CLASSIC', [549]),
 ('ACT-II-GOLDEN', [550]),
 ('ACT-II-CHILY', [551]),
 ('SANDROP', [554]),
 ('GLUCON-D', [555]),
 ('SUMERU', [556]),
 ('DARK', [576]),
 ('FANTA', [608]),
 ('THUMS', [612]),
 ('LIMCA', [613]),
 ('KINLEY', [614]),
 ('AVT', [615]),
 ('TROPICANNA', [619]),
 ('TROPICAN', [622]),
 ('MOUNTAIN', [634]),
 ('MAA', [651]),
 ('DOUBLE', [658]),
 ('TATA', [663]),
 ('TIGER', [664]),
 ('BAMBINO', [666]),
 ('SNICKERS', [672]),
 ('ELITE', [680]),
 ('WAFER', [692]),
 ('NANDINI', [742]),
 ('RADIANT', [751]),
 ('MARAYOOR', [763]),
 ('ASSAL', [774])]

In [ ]:
def distinctFoodToCsv(foodDict:dict) -> None:
    distinctFood = pd.DataFrame(foodDict['foods'].keys(),columns=['Distinct Brands/Food'])
    distinctFood.to_csv('./salesAprilDistinct.csv',index=False)