# BDM Project

## Imports and loading the datasets

In [1]:
import pandas as pd

In [2]:
# To complete later proper implementation
class Dataset():
    datasets:list[pd.DataFrame] = []
    

    def __init__(self,pathtocsv:str) -> pd.DataFrame:
        self.name = pathtocsv.split('/')[-1]
        self.df = pd.read_csv(pathtocsv)
        self.datasets.append(self)
    
    def __str__(self) -> str:
        return 'Dataset<{}>'.format(self.name)
    
    def __repr__(self) -> str:
        return 'Dataset<{}>'.format(self.name)

In [3]:

salesApril = Dataset('./CSV Files/SALES APRIL 23.csv')
salesMay = Dataset('./CSV Files/SALES MAY 23.csv')
purchaseApril = Dataset('./CSV Files/PURCHASE APRIL 23.csv')
purchaseMay = Dataset('./CSV Files/PURCHASE MAY 23.csv')

In [4]:
Dataset.datasets

[Dataset<SALES APRIL 23.csv>,
 Dataset<SALES MAY 23.csv>,
 Dataset<PURCHASE APRIL 23.csv>,
 Dataset<PURCHASE MAY 23.csv>]

In [5]:
for idx,dataset in enumerate(Dataset.datasets):
    dataset.df = dataset.df.dropna()

In [6]:
salesApril.df.head()

   Sl                              Item  Quantity  Amount
0   1             916 COCONUT OIL 500ML       1.0    90.0
1   2       ACT SANDROP PB CRUNCHY 100G       3.0   150.0
2   3  ACT SUNDROP PEANUT BUTTER CREAME       1.0   250.0
3   4   ACT SUNDROP PEANUT BUTTER CREAM       1.0   175.0
4   5                      ALPH LOLIPOP      47.0   245.0

In [7]:
salesApril.df.iloc[0]

Sl                              1
Item        916 COCONUT OIL 500ML
Quantity                      1.0
Amount                       90.0
Name: 0, dtype: object

In [8]:
salesApril.df.isna().sum()

Sl          0
Item        0
Quantity    0
Amount      0
dtype: int64

In [9]:
salesApril.df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789 entries, 0 to 788
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sl        789 non-null    int64
 1   Item      789 non-null    object
 2   Quantity  789 non-null    float64
 3   Amount    789 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 24.8+ KB

In [ ]:
from dataclasses import dataclass,field

@dataclass
class DistinctFoods:
    '''
    Dataclass used in finding distinct foods.
    :param str name: Name of  
    '''
    name: str
    foods: dict = field(init=False,default={})

In [23]:
def findDistinctFood(dataset:Dataset) -> DistinctFoods:
    '''
    Find the distinct brands/food types from a dataframe by comparing
    the first words of the names.

    :param df: Dataframe containing the dataset.
    '''
    df = dataset.df
    distinctFoods = DistinctFoods(dataset.name)
    groupedItems = distinctFoods.foods

    for idx in range(len(df)):
        row = df.iloc[idx]
        currentFirstWord = row['Item'].split()[0]
        if currentFirstWord not in groupedItems.keys(): groupedItems[currentFirstWord] = []
        groupedItems[currentFirstWord].append(idx)
        
    return distinctFoods

In [25]:
datasetDistinctFoods = [ findDistinctFood(dataset) for dataset in Dataset.datasets ]

In [11]:
def distinctFoodToCsv(foodDict:dict) -> None:
    distinctFood = pd.DataFrame(foodDict['foods'].keys(),columns=['Distinct Brands/Food'])
    distinctFood.to_csv('./salesAprilDistinct.csv',index=False)